@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Your custom CSS — NO @layer, NO theme() */

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #1e3a8a; /* pick any blue for now */
  border-right-color: #93c5fd;
  animation: rotate 1s infinite linear;
}

.spinner-mini {
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #93c5fd;
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
